<div class="container">

  <div class="block-header">
      <h2>Formulario</h2>

      <ul class="actions">
        <li class="dropdown" uib-dropdown>
            <a href="" uib-dropdown-toggle>
                <i class="zmdi zmdi-more-vert"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a data-ui-sref="form.pretrasplante">Pretrasplante</a>
                </li>
                <li>
                    <a data-ui-sref="form.trasplante">Trasplante</a>
                </li>
                <li>
                    <a data-ui-sref="form.donante">Donante</a>
                </li>
                <li>
                    <a data-ui-sref="form.postoperatorio">Postoperatorio</a>
                </li>
                <li>
                    <a data-ui-sref="form.complicacion">Complicación</a>
                </li>
                <li>
                    <a data-ui-sref="form.rehospitalizacion">Rehospitalización</a>
                </li>
                <li>
                    <a data-ui-sref="form.laboratorio">Laboratorio</a>
                </li>
            </ul>
        </li>
      </ul>

  </div>

  <div class="card">
    <div class="card-header">
      <h2>Paciente</h2>
    </div>

    <div class="card-body card-padding">

      <div class="form-group fg-line">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Escribir Nombre Completo">
      </div>

      <div class="form-group fg-line">
        <label>Rut</label>
        <input type="text" class="form-control" placeholder="ej: 18021635-0">
      </div>

      <div class="form-group fg-line">
        <label>Sexo</label>

        <br/><br/>

        <label class="radio radio-inline m-r-20">
          <input type="radio" name="inlineRadioOptions" value="f">
          <i class="input-helper"></i>
          Femenino
        </label>

        <label class="radio radio-inline m-r-20">
          <input type="radio" name="inlineRadioOptions" value="m">
          <i class="input-helper"></i>
          Masculino
        </label>
      </div>

      <div class="form-group fg-line" data-ng-controller="DatepickerDemoCtrl">
        <label>Fecha de Nacimiento</label>
        <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
            <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
            <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
                <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" placeholder="Seleccionar fecha" />
            </div>
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Dirección</label>
        <input type="text" class="form-control" placeholder="Introducir dirección...">
      </div>

      <div class="form-group fg-line">
        <label>Comuna</label>
          <div class="select">
            <select chosen class="form-control" data-placeholder="Seleccionar comuna">
            </select>
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Hospital</label>
          <div class="select">
            <select chosen class="form-control" data-placeholder="Seleccionar hospital">
            </select>
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Previsión</label>
          <div class="select">
            <select chosen class="form-control" data-placeholder="Seleccionar previsión">
            </select>
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Grupo Sanguineo</label>
          <div class="select">
            <select chosen class="form-control" data-placeholder="Seleccionar grupo sanguineo">
            </select>
        </div>
      </div>

      <div class="form-group fg-line">
          <label>Enfermedades</label>
          <select chosen multiple data-placeholder="Indicar enfermedades" class="w-100">
          </select>
      </div>

      <div class="form-group fg-line">
        <label>Antecedentes Quirurjicos</label>
        <br/><br/>
        <label class="radio radio-inline m-r-20">
          <input type="radio" name="inlineRadioOptions" value="True">
          <i class="input-helper"></i>
          Si
        </label>
        <label class="radio radio-inline m-r-20">
          <input type="radio" name="inlineRadioOptions" value="False">
          <i class="input-helper"></i>
          No
        </label>
      </div>

      <div class="form-group fg-line">
          <label>Habitos</label>
          <select  chosen multiple data-placeholder="Indicar habitos" class="w-100">
          </select>
      </div>



    </div>

  </div>
</div>
