<div class="container">


  <div class="card">
    <div class="card-header">
      <h2>Donante</h2>
    </div>

    <div class="card-body card-padding">

      <div class="form-group fg-line">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre">
      </div>

      <div class="form-group fg-line">
        <label>Rut</label>
        <input type="text" class="form-control" placeholder="ej: 18021635-0">
      </div>

      <div class="form-group fg-line">
        <label>Sexo</label>

        <br/><br/>

        <label class="radio radio-inline m-r-20">
          <input type="radio" name="inlineRadioOptions" value="f">
          <i class="input-helper"></i>
          Femenino
        </label>

        <label class="radio radio-inline m-r-20">
          <input type="radio" name="inlineRadioOptions" value="m">
          <i class="input-helper"></i>
          Masculino
        </label>
      </div>

      <div class="form-group fg-line">
        <label>Edad</label>
        <input type="text" class="form-control" placeholder="ej: 18021635-0">
      </div>

      <div class="form-group fg-line">
        <label>Peso</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Talla</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Hospital</label>
          <div class="select">
            <select chosen class="form-control">
              <option>Select an Option</option>
            </select>
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Grupo Sanguineo</label>
          <div class="select">
            <select chosen class="form-control">
              <option>Select an Option</option>
            </select>
        </div>
      </div>

      <div class="form-group fg-line">
          <label>Tipo de injerto</label>
          <select  chosen data-placeholder="Select a country..." class="w-100">
              <option value="United States">1</option>
              <option value="United States">2</option>
              <option value="United States">3</option>
          </select>
      </div>

      <div class="form-group fg-line">
        <label>BAR score</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Vivo/Muerto</label>

        <br/><br/>

        <label class="radio radio-inline m-r-20">
          <input type="radio" name="inlineRadioOptions" value="f">
          <i class="input-helper"></i>
          Vivo
        </label>

        <label class="radio radio-inline m-r-20">
          <input type="radio" name="inlineRadioOptions" value="m">
          <i class="input-helper"></i>
          Muerto
        </label>
      </div>



    </div>

  </div>


</div>
