<div class='container'>

  <div class="card">
    <div class="card-header">
      <h2>Laboratorio</h2>
    </div>

    <div class="card-body card-padding">

      <div class="form-group fg-line">
        <label>Fecha</label>
        <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
          <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
          <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
            <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
          </div>
        </div>
      </div>

      <div class="form-group fg-line">
        <label>GOT</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>GPT</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>FA</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>GGT</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Bilis total</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Bilis dir</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>INR</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>


    </div>

  </div>

</div>
