<div class="container">

  <div class="card">
    <div class="card-header">
      <h2>Rehospitalización</h2>
    </div>

    <div class="card-body card-padding">

      <div class="form-group fg-line">
        <label>Fecha de Rehospitalización</label>
        <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
          <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
          <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
            <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
          </div>
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Detalles</label>
        <div class="form-group">
            <div class="fg-line">
                <textarea class="form-control" rows="5" placeholder="Let us type some lorem ipsum...."></textarea>
            </div>
        </div>
      </div>


    </div>

  </div>


</div>
