<div class="container">

  <div class="card">
    <div class="card-header">
      <h2>Trasplante</h2>
    </div>

    <div class="card-body card-padding">

      <div class="form-group fg-line">
        <label>Fecha de Operación</label>
        <div class="date-picker input-group" ng-class="{ 'is-opened': opened == true }">
          <span class="input-group-addon"><i class="zmdi zmdi-calendar ma-icon"></i></span>
          <div class="fg-line" ng-class="{ 'fg-toggled': opened == true }">
            <input ng-click="open($event, 'opened')" type="text" class="form-control" uib-datepicker-popup="{{format}}" show-weeks="false" ng-model="dtPopup" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" placeholder="Select Date" />
          </div>
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Child Score</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Reajuste ChildPugh</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Meld Score</label>
        <div class="select">
          <input type='text' class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group fg-line">
        <label>Situación</label>
        <select chosen data-placeholder="Seleccionar antecedente..." class="w-100">
          <option value="adad">Situacion 1</option>
          <option value="adad">Situacion 2</option>
          <option value="adad">Situacion 3</option>
        </select>
      </div>

      <div class="form-group fg-line">
        <label>Solución</label>
        <select chosen data-placeholder="Seleccionar antecedente..." class="w-100">
          <option value="adad">Solución 1</option>
          <option value="adad">Solución 2</option>
          <option value="adad">Solución 3</option>
        </select>
      </div>

      <div class="form-group fg-line">
        <label>Vias de distribución</label>
        <select chosen data-placeholder="Seleccionar antecedente..." class="w-100">
          <option value="asad">Vía 1</option>
          <option value="asad">Vía 2</option>
          <option value="asad">Vía 3</option>
        </select>
      </div>

      <div class="form-group fg-line">
        <label>Esteatosis</label>
        <input type="text" class="form-control" placeholder="">
      </div>

      <div class="form-group fg-line">
        <label>Tiempo total de operación</label>
        <input type="text" class="form-control" placeholder="">
      </div>

      <div class="form-group fg-line">
        <label>Tiempo de izquemia fría</label>
        <input type="text" class="form-control" placeholder="">
      </div>

      <div class="form-group fg-line">
        <label>Tiempo de izquemia caliente</label>
        <input type="text" class="form-control" placeholder="">
      </div>

      <div class="form-group fg-line">
        <label>Tecnica de operación</label>
        <select chosen data-placeholder="Seleccionar antecedente..." class="w-100">
          <option value="asad">Tecnica 1</option>
          <option value="asad">Tecnica 2</option>
          <option value="asad">Tecnica 3</option>
        </select>
      </div>





    </div>

  </div>

</div>
