<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

    <section id="content">

        <div class="container">
            <div class="block-header">
                <h2>Panel de Control</h2>

                <ul class="actions">
                    <li>
                        <a href="">
                            <i class="zmdi zmdi-close"></i>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="card">
                <div class="card-header bgm-cyan">
                    <h2>Base de Datos de Registro de Trasplantes Hepáticos<small>Facultad de Medicina de la Universidad Catolica de Chile</small></h2>
                </div>
                <div class="card-body card-padding">
                    El objetivo de esta base de datos es la mantención de un registro acabado de los trasplantes hepáticos realizados en el Hospital Clinico de la Universidad Católica de Chile para ser usados por la Facultad de Mediciande la misma para realizar seguimientos y estadística sobre la información de los procedimientos y sus características.
                    Para acceder a las funciones del panel, se debe usar la barra lateral izquierda de navegación.
                </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
