<div class="sidebar-inner c-overflow">
    <div class="profile-menu">
        <a href="" toggle-submenu>
          <div data-ng-controller="usernameCtrl as uctrl">
            <div class="profile-pic">
                <img src="img/profile-pics/4.jpg" alt="">
            </div>

            <div class="profile-info">
                {{ user.firstname }} {{ user.lastname }}

                <i class="zmdi zmdi-caret-down"></i>
            </div>
          </div>
        </a>

        <ul class="main-menu">
            <li>
                <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i> Mi Perfil</a>
            </li>
            <li>
                <a href=""><i class="zmdi zmdi-lock-outline"></i> Cambiar Contraseña</a>
            </li>
            <li>
                <a href="/logout"><i class="zmdi zmdi-time-restore"></i> Logout</a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">

        <li data-ui-sref-active="active">
            <a data-ui-sref="home" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i> Inicio</a>
        </li>
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('widgets') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-account"></i> Pacientes</a>

            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="widgets.widget-templates" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-search"></i>  Consulta</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="widgets.widgets" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account-add"></i>  Nuevo Paciente</a></li>
            </ul>
        </li>

        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('charts') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-trending-up"></i>Estadísticas</a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="charts.flot-charts" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-chart"></i>  Estadística General</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="charts.other-charts" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-cloud-download"></i>  Descagar Base de Datos</a></li>
            </ul>
        </li>

        <li class="sub-menu">
            <a href="" toggle-submenu><i class="zmdi zmdi-menu"></i> 3 Level Menu</a>

            <ul>
                <li><a href="">Level 2 link</a></li>
                <li><a href="">Another level 2 Link</a></li>
                <li class="sub-menu">
                    <a href="" toggle-submenu>I have children too</a>

                    <ul>
                        <li><a href="">Level 3 link</a></li>
                        <li><a href="">Another Level 3 link</a></li>
                        <li><a href="">Third one</a></li>
                    </ul>
                </li>
                <li><a href="">One more 2</a></li>
            </ul>
        </li>
    </ul>
</div>
